<div class="container">
  <mat-card class="login-card">
    <mat-card-header class="cardLoginHeader">
      <mat-card-title>Bienvenido</mat-card-title>
      <mat-card-subtitle>Indicanos tu informacion de ingreso</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logoCoxTi.jpg" alt="Logo coxTi" class="login-image">
    <mat-card-content>
      <form [formGroup]="formLogIn" id="loginForm" (ngSubmit)="login()">
        <mat-form-field class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput formControlName="userEmail" placeholder="correo@example.com">
          <mat-error *ngIf="formLogIn.get('userEmail').invalid">{{
            getError("userEmail")}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput formControlName="userPassword" type="password">
          <mat-error *ngIf="formLogIn.get('userPassword').invalid">{{
            getError("userPassword")}}
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" form="loginForm" class="submitFormLogin" type="submit">Ingresar</button>
      <a [routerLink]="'/registerUser'" class="registerText"> Registrate</a>
    </mat-card-actions>
  </mat-card>
</div>